<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home</title>
</head>
<body>
  <div class="container">
    <div class="info">
      <h1>College Library</h1>
      <p>Book Management | Student Management | Issue Books</p>
    </div>
    <div class="cards-list">
      <div class="card">
        <img class="image" src="/resources/students.png" />
        <div class="title">
          <a href="" class="link">MANAGE STUDENTS</a>
          <p class="desc"><q>Add, delete<br>or edit students</q></p>
        </div>
      </div>
      <div class="card">
        <img class="image" src="/resources/books.png" />
        <div class="title">
          <a href="/managebooks" class="link">MANAGE BOOKS</a>
          <p class="desc"><q>Add, delete<br>or edit books </q></p>
        </div>
      </div>
      <div class="card">
        <img class="image" src="/resources/transactions.png" />
        <div class="title">
          <a href="" class="link">TRANSACTIONS</a>
          <p class="desc"><q>Lend or<br>return books</q></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>