<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borrow a book</title>
  </head>
  <body>
    <div class="container">
      <form action="">
        <!-- <label for="student-id">Ener student ID</label> -->
        <input type="text" class="student-id" placeholder="student ID" />
        <button type="submit">Find</button>
      </form>
      <div class="books-borrowed"></div>
    </div>
  </body>
</html>
