<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Management</title>
  <link rel="stylesheet" href="/css/manage_books.css">
  
</head>
<body id="body">

  <div id="popupbg" role="alert">
    <div class="popup">
      <p>Are you sure you want to delete this book?</p>
      <button id="yes-btn" >Yes</button>
      <button id="no-btn" >No</button>
    </div>
  </div>

  <div class="top-container">
    <nav class="nav">
      <a class="nav-btn" href="/"><img src="/resources/leftIcon.png" /></a>
      <a class="nav-btn" id="goTopBtn" href="#"><img src="/resources/topIcon.png" /></a>
    </nav>
    
    <section class="header" id="header">
      <div class="search-container">
        <form class="search-form" id="form">
          <input type="text" class="search-bar" id="search-bar" placeholder="Search by Title or Author">
        </form>
          <a><img class="search-icon" id="search-icon" src="/resources/search-icon.png"></a>
      </div>
      <div class="insert-btn-container">
        <button class="insert-btn" id="insert-btn">Add New Book</button>
      </div>
    </section>
  </div>
  
  
  <!-- <section class="panel" id="panel"></section> -->


  <section class="panel" id="panel">
    <% books.forEach(book => { %>
      <div class="card" id="<%= book._id %>">
        <div class="card-image">
          <img src="/resources/coverTemp.jpg" class="coverTemp">
        </div>
        <div class="card-content">
          <h3 class="title"><%= book.title %></h3>
          <h6 class="author"><%= book.author %></h6>
          <p class="desc"><%= book.desc %></p>
        </div>
        <div class="card-buttons">
          <button id="edit-btn" >Edit</button>
          <button id="delete-btn">Delete</button>
        </div>
      </div>
    <% }); %>
  </section>

  <!-- <script src="/js/test.js"></script> -->
  <script src="/js/script1.js"></script>
</body>
</html>