<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootsstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/details.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home</a>
            <a class="nav-item nav-link active" href="StudentList.ejs">Student Details</a>
            <a class="nav-item nav-link" href="Add.ejs">Add</a>
            <a class="nav-item nav-link" href="Update.ejs">Update</a>
            <a class="nav-item nav-link " href="Deleete.ejs">Delete</a>
          </div>
        </div>
      </nav>
<br>
<div id="searchBox"> 
    <form class="search-container" >
        <input type="text" class="search-bar" placeholder="Enter the name" id="myInput" onkeyup="search()">
        <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
    </form>
</div>
    <br>
    <div id="edit">
    <button onclick="window.location.href = 'Add.ejs';" type="button" class="btn btn-outline-primary">Add a Student</button> <br>
    <button onclick="window.location.href = 'Update.ejs';" type="button" class="btn btn-outline-primary">Update a Student</button> <br>
    <button onclick="window.location.href = 'Deleete.ejs';" type="button" class="btn btn-outline-danger">Delete a Student</button> <br>
    </div>

    
<br>
    <div class="details">
    <table id="myTable">
        <tr> 
        <th style="width: 200px;">Student ID</th>
        <th style="width: 200px;">Student Name</th>
        <th style="width: 200px;">Student Email</th>
        <th style="width: 200px;">Student Phone Number</th>
        </tr> 
        <%studentList.forEach((student)=>{%>
        <tr>
            <td><%=student.id%> </td> 
            <td><%=student.name%></td> 
            <td><%=student.email%></td> 
            <td><%=student.phone%></td>
        </tr>
        <%})%>
    </table>
</div>
    
    <script>
    function search(){
        let filter = document.getElementById('myInput').value.toUpperCase();
        
        let myTable = document.getElementById('myTable');
        let tr =myTable.getElementsByTagName('tr');
        for(var i=0; i<tr.length; i++)
        {
        let td = tr[i].getElementsByTagName('td')[1];
        if(td) {
            let textvlaue= td.textContent || td.innerText;
            if (textvlaue.toUpperCase().indexOf(filter)>-1){
            tr[i].style.display="";
            }else{
            tr[i].style.display="none"};
        }
    }
}

    </script>
</body>
</html>